/*
/*/

!/.local/
/.local/*
!/.config/
/.config/*

!/.config/nixos/
!/.config/nvim/
!/.config/fish/
!/.config/git/
!/.config/hypr/
!/.config/waybar/
!/.config/rofi/
!/.config/alacritty/
!.gitignore
!README.md
