/*
/*/

!/.local/
/.local/*
!/.config/
/.config/*

!/.config/sddm/
!/.config/wallpapers/
!/.config/nvim/
!/.config/fish/
!/.config/git/
!/.config/hypr/
!/.config/waybar/
!/.config/rofi/
!/.config/kitty/
!/.config/hosts/
!/.config/*.nix
!/.config/flake.lock
!.gitignore
!README.md

/.config/nvim/extras/dashcols.lua
