/*
/*/

!/.local/
/.local/*
!/.config/
/.config/*

!/.config/wallpapers/
!/.config/nvim/
!/.config/fish/
!/.config/git/
!/.config/hypr/
!/.config/rofi/
!/.config/hosts/
!/.config/fastfetch/
!/.config/*.nix
!/.config/flake.lock
!/.config/*.age
!/.config/scripts/
!/.config/quickshell/
!/.config/clangd/
!.gitignore
!README.md

/.config/nvim/extras/dashcols.lua
/.config/hypr/theme.lua
