/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/
* {
    background:     #2d3a3a77;
    background-alt: #3d4a4a77;
    foreground:     #ffffff88;
    selected:       #aaaaaa88;
    active:         #89a7a788;
    urgent:         #ffffff88;
}
