* {
    font:                        "JetBrains Mono Nerd Font 10";
    background:                  #22172acc;
    background-alt:              #3a3248aa;
    foreground:                  #ffdfcfaa;
    selected:                    #ffdfcfaa;
    active:                      #22172acc;
    urgent:                      #ffdfcfaa;
}
