/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/
* {
    background:     #00000077;
    background-alt: #27272777;
    foreground:     #c3e3eb77;
    selected:       #83a4a177;
    active:         #83a4a177;
    urgent:         #83a4a177;
}
